@import "../../index.scss";

.language_selection{
    position:fixed;
    top:2rem;
    z-index:10;
    background-color:rgb(0, 0, 0);
    right:2rem;
    display:flex;
    justify-items:space-around;
    border-radius:5px;
    button{
        font-family:$font2;
        font-weight:bold;
        margin:0.5rem;
        background-color:transparent;
        border:0px;
        color:white;
        @media #{$mobile} {
            margin:0.2rem;
           }
    }
}