
@import "../../index.scss";

.me{
    height:100vh;
    width:100%;
    display:flex;

    @media #{$mobile} {
		display:block;
	}

    .izquierda{
        width:55%;
        height:100%;
        @media #{$mobile} {
            height:100%;
            width:100%;
            z-index:2;
        }

        .desktop_image{
            height:100%;
            padding-left:5rem;

            @media #{$mobile} {
                display:none;
            }
        }

        .mobile_image{
            display:none;

            @media #{$mobile} {
                display:block;
                height:100%;
                width:100%;
                z-index:1;
              
            }
        }
    }

    .poligono{
        background-color:rgb(34, 34, 34);
        width:49%;
        height:100vh;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
        position:absolute;
        top: 0;
        right:0;
        @media #{$mobile} {
         display:none;
        }
    }
    .poligono2{
        display:none;
        @media #{$mobile} {
            display:block;
            background:rgba(41, 41, 41, 0.885);
            width:100%;
            height:100vh;
            clip-path: polygon(0 0, 100% 0, 100% 41%, 0 71%);
            clip-path: polygon(50% 100%, 100% 85%, 100% 100%, 30% 100%);
            position:absolute;
            margin:0;
            bottom: 0;
            right:0;
            
      
        }
    }

    .intro{
        z-index:3;
        padding:2%;
        width:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        justify-items:space-between;
        align-content:flex-end;
        align-items:flex-end;
        @media #{$mobile} {
            display:none;
         }

        @media #{$mobile} {
            width:100%;
            padding:0 2%;
            background-color:rgb(34, 34, 34);
            align-content:center;
            align-items:center;
        }

        .portfolio{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            align-content:center;
        }

        h2{
            font-family:$font1;
            font-size:3rem;
            margin:0;
            color:rgb(226, 81, 81);
            color:white;
            color:rgb(224, 132, 79);

            @media #{$mobile} {
                font-size:2rem;
             }

        }
        h3{
            font-family:$font2;
            font-size:1.4rem;
            color:rgb(152, 149, 156);
            color:white;

            padding-left:4rem;
            text-align:right;
            
            @media #{$mobile} {
                padding:0;
                text-align:center;
             }
        }

        p{
            margin:0;
            font-size:2rem;
            font-family:$font1;
            color:rgb(224, 132, 79);
            color:white;
        }

        .tools{
            height:4rem;
            display:flex;
            justify-content:flex-start;
            align-content:center;
            align-items:center;
            width: min-content;
            border-radius:200px;
            padding:1rem;

            svg{
                background-color: rgba(63, 63, 63, 0.918);
                padding:1rem;
                border-radius:400px;
                border:0px;
                height:2rem;
                width:2rem;
                margin:0.5rem;

                @media #{$mobile} {
                    height:1rem;
                    width:1rem;
                 }
            }

        }

    }

    .intro_mobile{
        display:none;
        
        @media #{$mobile} {
            
            display:block;
             position:absolute;
            top:2rem;
            right:0;
            padding:5%;
            width:55%;
            align-content:center;
            align-items:center;
        }

        .portfolio{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:flex-end;
            align-content:flex-end;
        }

        h2{
            font-family:$font1;
            font-size:3rem;
            margin:0;
            color:rgb(226, 81, 81);
            color:white;
            color:rgb(224, 132, 79);
            font-size:2rem;
            text-align:right;
 
        
        }
        h3{
            font-family:$font2;
            font-size:1.2rem;
            color:rgb(152, 149, 156);
            padding-left:4rem;
            text-align:right;
            
            @media #{$mobile} {
                padding:0;
          
             }
        }

        p{
            margin:0;
            font-size:2rem;
            font-family:$font1;
            color:rgb(224, 132, 79);
            
        }

        .tools{
            height:4rem;
            display:flex;
            flex-direction:column;
            justify-content:flex-start;
            align-content:flex-end;
            align-items:flex-end;
            // width: min-content;
            border-radius:200px;
            padding:1rem;

            svg{
                background-color: rgba(63, 63, 63, 0.918);
                padding:1rem;
                border-radius:400px;
                border:0px;
                height:2rem;
                width:2rem;
                margin:0.5rem;

                @media #{$mobile} {
                    height:1rem;
                    width:1rem;
                 }
            }

        }

    }
}

