body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(108deg, #ffffff 25%, #fafaf7 25%, #fafaf7 50%, #ffffff 50%, #ffffff 75%, #fafaf7 75%, #fafaf7 100%);
  background-size: 6.31px 19.42px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap'); //nunito
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); //Abril

//Porbando
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

//$font1: 'Fredoka One', cursive;

$font1:'Suez One', serif;
$font2: 'Abel', sans-serif;
$font3: 'Ubuntu', sans-serif;
$font4: 'Nunito Sans', sans-serif;

$principal: rgb(32, 32, 32);
$gris: rgb(59, 59, 59);
$blanco: rgb(209, 209, 209);
$black:  rgb(32, 32, 32);
$amarilloClaro: #f3de2c;
$violet: rgb(179, 35, 192);
$blue: rgb(44, 44, 185);
$orange: #fb6107;



$mobile: "only screen and (max-width : 815px)";


